---
layout: default
title: ScotlandCSS 2016
---

{% include speakers.html %}
{% include tickets.html %}
<img src={{ "barak.jpg" | asset_path }} alt="" style="background-size: cover" />
<!-- {% include intro.html %} -->
{% include sponsors.html %}
<img src={{ "sareh.jpg" | asset_path }} alt="" />
{% include childcare.html %}
<!-- {% include cfp.html %} -->
<img src={{ "umar.jpg" | asset_path }} alt="" />
{% include diveristy.html %}
<img src={{ "discussion.jpg" | asset_path }} alt="" />
{% include venue.html %}
<div class="venue-picture"></div>
{% include team.html %}
{% include highlights.html %}
{% include code_of_conduct.html %}

