---
layout: default
title: Scotland CSS Previous Events
---
<br/>
<section class="content-body">
  <div class="container video_list">
    <br/>
    <h2 class="section-heading">2016 Speaker Highlights</h2>
    <iframe width="1200" height="700" src="https://www.youtube.com/embed/Bb-Omav8vTg" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="content-body">
  <div class="container video_list">
    <h2 class="section-heading customfont">2016 Videos</h2>
  </div>

  {% include 2016-speaker-video.html speaker="Chris Lilley" %}
  {% include 2016-speaker-video.html speaker="Harry Roberts" %}

  {% include 2016-speaker-video.html speaker="Umar Hansa" %}
  {% include 2016-speaker-video.html speaker="Alyssa Ross" %}
  {% include 2016-speaker-video.html speaker="Katie Fenn" %}
  {% include 2016-speaker-video.html speaker="David Berner" %}
  {% include 2016-speaker-video.html speaker="Christoph Reinartz" %}
  {% include 2016-speaker-video.html speaker="James Steinbach" %}
  {% include 2016-speaker-video.html speaker="Barak Chamo" %}
  {% include 2016-speaker-video.html speaker="Lewis Cowper" %}
  {% include 2016-speaker-video.html speaker="Natalya Shelburne" %}
</section>


