 <div tabindex="-1" role="dialog" aria-hidden="true" id="harry" class="portfolio-modal modal fade">
  <div class="modal-content">
    <div data-dismiss="modal" class="close-modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Harry Roberts</h2>
            <div class="portfolio-item">
              <span class="portfolio-link">
                <img src={{ "speakers/harry_roberts.jpg" | asset_path }} srcset={{ "speakers/harry_roberts@2x.jpg" | asset_path }} alt="Harry Roberts" width="400" height="289"/>
              </span>
              <div class="portfolio-caption">
                <h3>Harry Roberts</h3>
                <ul class="list-inline social-buttons">
                  <li><a href="https://twitter.com/csswizardry"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/csswizardry"><i class="fa fa-github-alt"></i></a></li>
                  <li><a href="http://csswizardry.com/"><i class="fa fa-globe"></i></a></li>
                </ul>
              </div>
            </div>
            <p>
              With a client list including <b>Google</b>, the <b>United Nations</b>, and
              <b>Unilever</b>, Harry is an award-winning Consultant Front-end Architect who
              helps organisations and teams across the globe to plan, build, and maintain
              product-scale UIs.
            </p>

            <p>
              He writes on the subjects of CSS architecture, performance, and scalability at
              <a href="http://csswizardry.com">csswizardry.com</a>; develops and maintains
              <a href="https://github.com/inuitcss">inuitcss</a>; authored
              <a href="http://cssguidelin.es">CSS Guidelines</a>; and Tweets at
              <a href="http://twitter.com/csswizardry">@csswizardry</a>.
            </p>
            <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Abstract</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
