<div tabindex="-1" role="dialog" aria-hidden="true" id="nicole" class="portfolio-modal modal fade">
  <div class="modal-content">
    <div data-dismiss="modal" class="close-modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Nicole Sullivan</h2>
            <div class="portfolio-item">
              <span class="portfolio-link">
                <img src={{ "speakers/nicole_sullivan.jpg" | asset_path }} srcset={{ "speakers/nicole_sullivan@2x.jpg" | asset_path }} alt="Nicole Sullivan" width="400" height="289"/>
              </span>
              <div class="portfolio-caption">
                <h3>Nicole Sullivan</h3>
                <ul class="list-inline social-buttons">
                  <li><a href="https://twitter.com/stubbornella"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/stubbornella"><i class="fa fa-github-alt"></i></a></li>
                  <li><a href="http://stubbornella.org"><i class="fa fa-globe"></i></a></li>
                </ul>
              </div>
            </div>
            <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Abstract</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
