<section id="schedule" class="content">
  <div class="container">
    <table class="schedule">
      <thead>
        <tr>
          <th></th>
          <th>Wednesday June 1st</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8am</td>
          <td>Registration &amp; Tea/Coffee<br/><br/></td>
        </tr>
        <tr>
          <td>9am</td>
          <td>Introduction</td>
        </tr>
        <tr>
          <td>9:15am</td>
          <td>{% include speaker.html speaker="Nicole Sullivan" %}</td>
        </tr>
        <tr>
          <td>10:05am</td>
          <td>{% include speaker.html speaker="Umar Hansa" %}</td>
        </tr>
        <tr>
          <td>10.30am</td>
          <td>{% include speaker.html speaker="Ross Penman" %}</td>
        </tr>

        <tr>
          <td>10.55am</td>
          <td>{% include speaker.html speaker="David Berner" %}</td>
        </tr>

        <tr>
          <td>11.20am</td>
          <td>Discussion Track</td>
        </tr>

        <tr class="break">
          <td>11.40am</td>
          <td colspan="4">
            20 minute break
          </td>
        </tr>

        <tr>
          <td>12.00am</td>
          <td>{% include speaker.html speaker="Christoph Reinartz" %}</td>
        </tr>

        <tr>
          <td>12.25am</td>
          <td>{% include speaker.html speaker="James Steinbach" %}</td>
        </tr>

        <tr>
          <td>12.50pm</td>
          <td>{% include speaker.html speaker="Barak Chamo" %}</td>
        </tr>

        <tr>
          <td>1.15pm</td>
          <td>Discussion Track</td>
        </tr>

        <tr class="break">
          <td>1.35pm</td>
          <td colspan="4">
            Lunch
          </td>
        </tr>

        <tr>
          <td>2.35pm</td>
          <td>{% include speaker.html speaker="Katie Fenn" %}</td>
        </tr>
        <tr>
          <td>3.00pm</td>
          <td>{% include speaker.html speaker="Lewis Cowper" %}</td>
        </tr>
        <tr>
          <td>3.25pm</td>
          <td>{% include speaker.html speaker="Natalya Shelburne" %}</td>
        </tr>

        <tr>
          <td>3.50pm</td>
          <td>Discussion Track</td>
        </tr>

        <tr class="break">
          <td>4.10pm</td>
          <td colspan="4">
            Tea/Coffee
          </td>
        </tr>

        <tr>
          <td>4.30pm</td>
          <td>{% include speaker.html speaker="Harry Roberts" %}</td>
        </tr>

        <tr>
          <td>5.15pm</td>
          <td>Closing remarks</td>
        </tr>
        <tr>
          <td>5.20pm</td>
          <td>Family Photo</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<br/>
<br/>
<br/>
<br/>
