<section id="schedule" class="content">
  <div class="container">
    <div class="schedule">
      <h3 class="header">Wednesday June 1st</h3>
      <div class="schedule--item">
        <div class="time">8am</div>
        <div class="activity">Registration &amp; Tea/Coffee</div>
      </div>
      <div class="schedule--item">
        <div class="time">9am</div>
        <div class="activity">Introduction</div>
      </div>
      <div class="schedule--item">
        <div class="time">9:15am</div>
        <div class="activity">{% include speaker.html speaker="Nicole Sullivan" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">10:05am</div>
        <div class="activity">{% include speaker.html speaker="Umar Hansa" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">10:30am</div>
        <div class="activity">{% include speaker.html speaker="Ross Penman" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">10:55am</div>
        <div class="activity">{% include speaker.html speaker="David Berner" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">11:20am</div>
        <div class="activity">Discussion Track</div>
      </div>
      <div class="schedule--item">
        <div class="time">11:40am</div>
        <div class="activity break">20 minute break</div>
      </div>
      <div class="schedule--item">
        <div class="time">12:00pm</div>
        <div class="activity">{% include speaker.html speaker="Christoph Reinartz" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">12:25pm</div>
        <div class="activity">{% include speaker.html speaker="James Steinbach" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">12:50pm</div>
        <div class="activity">{% include speaker.html speaker="Barak Chamo" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">1:15pm</div>
        <div class="activity">Discussion Track</div>
      </div>
      <div class="schedule--item">
        <div class="time">1:35pm</div>
        <div class="activity break">Lunch</div>
      </div>
      <div class="schedule--item">
        <div class="time">2:35pm</div>
        <div class="activity">{% include speaker.html speaker="Katie Fenn" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">3:00pm</div>
        <div class="activity">{% include speaker.html speaker="Lewis Cowper" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">3:25pm</div>
        <div class="activity">{% include speaker.html speaker="Natalya Shelburne" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">3:50pm</div>
        <div class="activity">Discussion Track</div>
      </div>
      <div class="schedule--item">
        <div class="time">4:10pm</div>
        <div class="activity break">Coffee</div>
      </div>
      <div class="schedule--item">
        <div class="time">4:30pm</div>
        <div class="activity">{% include speaker.html speaker="Harry Roberts" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">5:15pm</div>
        <div class="activity">Closing Remarks</div>
      </div>
      <div class="schedule--item">
        <div class="time">5:20pm</div>
        <div class="activity">Family Photo</div>
      </div>
    </div>
  </div>
</section>
