<section id="schedule" class="content">
  <div class="container">
    <div class="schedule">
      <h3 class="header">Wednesday July 18th</h3>
      <div class="schedule--item">
        <div class="time">8am</div>
        <div class="activity">Registration &amp; Tea/Coffee</div>
      </div>

      <div class="schedule--item">
        <div class="time">9am</div>
        <div class="activity">Opening Remarks</div>
      </div>

      <div class="schedule--item">
        <div class="time">9:15am</div>
        <div class="activity">{% include speaker.html speaker="Rachel Nabors" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">10am</div>
        <div class="activity">{% include speaker.html speaker="Adekunle Oduye" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">10:25am</div>
        <div class="activity">{% include speaker.html speaker="Sareh Heidari" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">10:50am</div>
        <div class="activity">{% include speaker.html speaker="Eli Fitch" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">11:10am</div>
        <div class="activity">Discussion Slot</div>
      </div>

      <div class="schedule--item">
        <div class="time">11:30am</div>
        <div class="activity">Tea/Coffee</div>
      </div>




      <div class="schedule--item">
        <div class="time">11:50am</div>
        <div class="activity">{% include speaker.html speaker="Anna Migas" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">12:15pm</div>
        <div class="activity">{% include speaker.html speaker="Nico Hagenburger" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">12:40pm</div>
        <div class="activity">{% include speaker.html speaker="Olivia Liddell" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">1:00pm</div>
        <div class="activity">Discussion Slot</div>
      </div>

      <div class="schedule--item">
        <div class="time">1:20pm</div>
        <div class="activity">Lunch</div>
      </div>

      <div class="schedule--item">
        <div class="time">2:20pm</div>
        <div class="activity">{% include speaker.html speaker="Steven Roberts" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">2:45pm</div>
        <div class="activity">{% include speaker.html speaker="Natalya Shelburne" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">3:10pm</div>
        <div class="activity">{% include speaker.html speaker="Peter Müller" %}</div>
      </div>
      <div class="schedule--item">
        <div class="time">3:35pm</div>
        <div class="activity">Discussion Slot</div>
      </div>

      <div class="schedule--item">
        <div class="time">4:00pm</div>
        <div class="activity">Tea/Coffee</div>
      </div>

      <div class="schedule--item">
        <div class="time">4:20pm</div>
        <div class="activity">{% include speaker.html speaker="Rachel Andrew" %}</div>
      </div>

      <div class="schedule--item">
        <div class="time">6:00pm</div>
        <div class="activity">Close Remarks & Family Photo</div>
      </div>


    </div>
  </div>
</section>
