<section class="content-body">
  <div id="talks">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 id="speaker" style="margin-top:50px" class="section-heading customfont">Speakers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a href="#nicole" data-toggle="modal" class="speaker  col-md-4 col-sm-6">

            <img src={{ "speakers/nicole_sullivan.jpg" | asset_path }} srcset={{ "speakers/nicole_sullivan@2x.jpg" | asset_path }} alt="Nicole Sullivan" width="150" height="150"/>
            <div class="info">
              <h3><span aria-hidden="true">Nicole Sullivan </span> <small>@stubbornella</small></h3>
              <p></p>
            </div>
          </a>

          {% include nicole.html %}

          <a href="#harry" data-toggle="modal" class="speaker  col-md-4 col-sm-6"><img src={{ "speakers/harry_roberts_thumb.jpg" | asset_path }} srcset={{ "speakers/harry_roberts_thumb@2x.jpg" | asset_path }} alt="Harry Roberts" width="150" height="150"/>
          <div class="info">
            <h3><span aria-hidden="true">Harry Roberts </span> <small>@CSSWizardry</small></h3>
            <p></p>
          </div></a>

          {% include harry.html %}

          <a href="/cfp">
            <div class="speaker  col-md-4 col-sm-6"><img src={{ "speakers/and_you_thumb.jpg" | asset_path }} srcset={{ "speakers/and_you_thumb@2x.jpg" | asset_path }} alt="And you?" width="150" height="150"/>
              <div class="info">
                <h4>And you? <small></small></h4>
                <p>Call for Proposals is open now.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
