<section class="content-body">
  <div id="talks">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 id="speaker" style="margin-top:50px" class="section-heading customfont">Speakers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          {% include speaker.html speaker="Chris Lilley" %}
          {% include speaker.html speaker="Harry Roberts" %}
          {% include speaker.html speaker="Barak Chamo" %}
          {% include speaker.html speaker="Christoph Reinartz" %}
          {% include speaker.html speaker="David Berner" %}
          {% include speaker.html speaker="James Steinbach" %}
          {% include speaker.html speaker="Katie Fenn" %}
          {% include speaker.html speaker="Lewis Cowper" %}
          {% include speaker.html speaker="Natalya Shelburne" %}
          {% include speaker.html speaker="Alyssa Ross" %}
          {% include speaker.html speaker="Umar Hansa" %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
