<br/>
<br/>

<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 id="speaker" class="section-heading customfont">Sponsors</h2>
          <p class="text-muted">Please <a href="mailto:peter@scotlandcss.com">contact us</a> for sponsorship and diversity support opportunities.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10"><a href="/sponsors#kpv-lab" title="kpv lab" class="sponsor col-sm-12"><img width="400" src={{ "sponsors/kpv-lab-logo.png" | asset_path }} alt="KPV Lab" class="img-responsive img-centered"></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h2 id="speaker" class="section-heading customfont">Childcare Sponsor</h2>
        <a href="/sponsors#litmus" title="Litmus" class="sponsor col-sm-12"><img width="400" src={{ "sponsors/litmus-logo.png" | asset_path }} alt="Litmus" class="img-responsive img-centered"></a>
      </div>
    </div>
  </div>
</section>
<br/>

<section id="supporter">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Supporters</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.mapbox.com" title="mapbox" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/mapbox-logo.svg" | asset_path }} alt="mapbox" class="img-responsive img-centered">
        </a>
      </div>
    </div>
  </div>
</section>


<section id="diversity">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Diversity Supporters</h2>
      </div>
    </div>
    <div class="row">
<!--       <div class="col-md-offset-1 col-md-10">
        <a href="https://www.fanduel.com/about" title="fanduel" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/fanduel.png" | asset_path }} alt="fanduel" class="img-responsive img-centered">
        </a>
      </div>
 -->

      <div class="row">
        <div class="col-mg-12 text-center">
            <p class="text-muted">
              Contribute £500 or more to our Diversity Fund and we'll happily add your company logo here! <a href="mailto:peter@scotlandcss.com">Contact us to find out more!</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
