<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-mg-12 text-center">
        <h2 id="speaker" class="section-heading customfont">Sponsors</h2>
          <p class="text-muted">Please <a href="mailto:peter@scotlandcss.com">contact us</a> for sponsorship and diversity support opportunities.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10"><a href="https://www.fanduel.com/about" title="fanduel" class="sponsor col-sm-12"><img width="400" src={{ "sponsors/fanduel.png" | asset_path }} alt="fanduel" class="img-responsive img-centered"></a>
      </div>
    </div>
  </div>
</section>
<br/>
<br/>
<br/>

<section id="diversity">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Diversity Supporters</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.fanduel.com/about" title="fanduel" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/fanduel.png" | asset_path }} alt="fanduel" class="img-responsive img-centered">
        </a>
      </div>

      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.cucumber.io/" title="cucumber" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/cucumber.png" | asset_path }} alt="cucumber" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="http://www.scottlogic.com/" title="scott logic" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/scott_logic.png" | asset_path }} alt="scott logic" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.futurelearn.com/" title="futurelearn" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/futurelearn.jpg" | asset_path }} alt="futurelearn" class="img-responsive img-centered">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.zendesk.com/" title="zendesk" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/zendesk.png" | asset_path }} alt="zendesk" class="img-responsive img-centered">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="supporter">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Supporters</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.campaignmonitor.com/" title="Campaign Monitor" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/campaignmonitor.png" | asset_path }} alt="Campaign Monitor" class="img-responsive img-centered">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <a href="https://www.trivago.com" title="trivago" class="sponsor col-sm-12">
          <img width="400" src={{ "sponsors/trivago.png" | asset_path }} alt="trivago" class="img-responsive img-centered">
        </a>
      </div>
    </div>
  </div>
</section>
