<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ScotlandCSS</title>
  <meta name="description" content="The CSS conference in Edinburgh, Scotland, July 18th 2018">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="shortcut icon" href={{ "favicons/favicon.ico" | asset_path }}>
  <meta name="apple-mobile-web-app-title" content="scotlandcss">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="application-name" content="scotlandcss">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <meta itemprop="name" content="ScotlandJS conference">
  <meta itemprop="description" content="The Scottish CSS conference in Edinburgh, Scotland, July 18th 2018">
  <!-- Twitter Card data-->
  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@scotlandcss">
  <meta name="twitter:title" content="ScotlandCSS">
  <meta name="twitter:description" content="The Scottish CSS conference in Edinburgh, Scotland, July 18th 2018">
  <meta name="twitter:creator" content="@ScotlandCSS">
  <meta name="twitter:data1" content="The Scottish JavaScript conference in Edinburgh, Scotland, July 18th 2018">
  <meta name="twitter:label1" content="">
  <meta name="twitter:data2" content="The Scottish JavaScript conference in Edinburgh, Scotland, July 18th 2018">
  <meta name="twitter:label2" content="">
  <!-- Open Graph data-->
  <meta property="og:title" content="ScotlandCSS conference">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://scotlandcss.com">
  <meta property="og:description" content="The Scottish CSS conference in Edinburgh, Scotland, July 18th 2018">
  <meta property="og:site_name" content="The Scottish CSS conference">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&amp;subset=latin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  {% stylesheet vendor/bootstrap/dist/css/bootstrap.css %}
  {% stylesheet vendor/font-awesome/css/font-awesome.css %}
  {% stylesheet application %}

  {% javascript vendor/jquery/dist/jquery.js %}
  {% javascript vendor/jquery.easing/jquery.easing.1.3.min.js %}
  {% javascript vendor/picturefill/dist/picturefill.js %}
  {% javascript vendor/headroom.js/dist/headroom.js %}
  {% javascript vendor/headroom.js/dist/jQuery.headroom.js %}
  {% javascript vendor/bootstrap/js/transition.js %}
  {% javascript vendor/bootstrap/js/modal.js %}
  {% javascript vendor/bootstrap/js/scrollspy.js %}
  {% javascript vendor/bootstrap/js/collapse.js %}

  {% javascript application %}
</head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
